
.movies {
  width: 100%;
  @include flex(flex-start, flex-end);

  .movie-wrapper {
    width: calc(100vw - 250px);
    padding: 20px;
    padding-top: 0;

    h1 {
      color: $white;
      font-size: 50px;
      margin-bottom: 30px;
    }

    .genre {
      position: relative;

      &::after,
      &:before {
        z-index: 1;
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 40px;
      }

      &::after {
        background: linear-gradient(90deg, $primary-color, transparent);
        left: 15px;
      }

      &::before {
        background: linear-gradient(90deg, transparent, $primary-color);
        right: 15px;
      }

      i {
        z-index: 2;
        cursor: pointer;
        color: $white;
        position: absolute;
        font-size: 35px;
        top: 50%;
        transform: translateY(-50%);

        &.left {
          left: 0px;
        }

        &.right {
          right: 0px;
        }

        path {
          fill: $white;
        }
      }

      .genre-slider {
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        margin: 0 auto;
        width: 95%;
        padding: 5px;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          height: 1px;
        }

        &::-webkit-scrollbar-thumb {
          display: none;
        }

        &::-webkit-scrollbar-track {
          display: none;
        }

        span {
          background: #444444;
          padding: 5px 15px;
          color: $white;
          border-radius: 5px;
          cursor: pointer;
          scroll-snap-align: start;
          transition: all 0.5s ease;
          &:hover {
            background: #585858;
          }

          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }

    .movie-list {
      padding-top: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 50px 10px;

      .movie-item {
        user-select: none;
        position: relative;
        cursor: pointer;

        .image {
          position: relative;
          width: 100%;
          height: 280px;
          border-radius: 10px;
          background: #444444, url(../../images/video-bg-icon.png) no-repeat center/contain;

          .add,
          .favorite,
          .basket {
            position: absolute;
            background: $white;
            width: 40px;
            height: 40px;
            border-radius: 999px;
            @include flex(center, center);
            transition: all 0.5s ease;
            transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
            &:hover svg path{
              fill: red;
            }
            &.active svg path{
              fill: red;
            }
            svg{
              pointer-events: none;
              transition: all 0.5s ease;
            }
          }

          .add {
            z-index: 1;
            bottom: 10px;
            right: 10px;

            &.active {
              transform: rotate(135deg);
            }
          }

          .favorite {
            right: 10px;
            bottom: 10px;
          }

          .basket {
            right: 10px;
            bottom: 10px;

            &.active {
              right: 60px;
              bottom: 10px;
            }
          }

          img {
            width: 100%;
            height: 280px;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        .desc {
          @include flex;
          gap: 5px;
          flex-direction: column;
          padding: 5px;

          span {
            display: inline-block;
            color: $white;
            font-size: 22px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
          }

          div {
            @include flex(center, space-between);
            width: 100%;

            .imdb {
              @include flex(center);
              gap: 5px;

              span {
                color: $white;
                width: auto;
                font-size: 16px;
              }

              svg {
                path {
                  fill: $yellow;
                }
              }
            }

            .year {
              background: $icon-bg;
              width: 90px;
              color: $white;
              padding: 2px 10px;
              @include flex(center, center);
              font-weight: 500;
              border-radius: 5px;
              font-size: 15px;
            }
          }
        }
      }
    }
    .load-more{
      width: 100%;
      @include flex(center, center);
      padding: 50px 0 20px 0;
      button{
        @include flex(center, center);
        gap: 10px;
        font-size: 18px;
        color: $white;
        padding: 10px 25px;
        border-radius: 5px;
        background: darkred;
        font-weight: 500;
        transition: all .5s ease;
        &:hover{
          background: rgb(105, 2, 2);
        }
        .loader{
          border: solid 3px $white;
          border-left-color: transparent;
          width: 20px;
          height: 20px;
          border-radius: 999px;
          transition: all .5s ease;
          animation: load 1s linear infinite;
          display: none;
        }
      }
    }
  }
}

@keyframes load {
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}

@media (max-width: 992px) {
  .movies {
    .movie-wrapper {
      .genre {
        .genre-slider {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .movies {
    .movie-wrapper {
      width: 100%;

      h1 {
        font-size: 40px;
      }

      .genre {
        i {
          display: none;
        }
      }

      .movie-list {
        .movie-item {
          .image {
            .add {
              display: none;
            }

            .favorite {
              top: 10px;
            }

            .basket {
              top: 60px;
            }
          }
        }
      }
    }
  }
}
