.account-wrapper {
    width: 100%;
    @include flex(flex-start, flex-end);

    .account {
        width: calc(100% - 250px);
        min-height: calc(100vh - 66px);
        padding: 20px;

        .profile {
            @include flex(center);
            gap: 20px;

            .image {
                img {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    border-radius: 999px;
                }
            }

            .profile-detail {
                @include flex;
                flex-direction: column;
                color: $white;

                .fullname {
                    font-size: 40px;
                    font-weight: 600;
                    text-transform: capitalize;
                }

                .username {
                    color: $gray;
                }

                .btn {
                    margin: 20px 0;
                    @include flex(center);
                    gap: 10px;

                    button {
                        @include flex(center);
                        gap: 8px;
                        background: darkred;
                        padding: 10px 20px;
                        color: $white;
                        transition: all .5s ease;
                        font-size: 18px;
                        border-radius: 8px;

                        &:hover {
                            background: rgb(109, 2, 2);
                        }
                    }
                }

            }
        }

        .watch-wrapper {
            margin-top: 50px;
            width: 100%;

            .buttons {
                position: relative;
                @include flex;
                gap: 20px;
                background: #444444;
                border-radius: 8px;

                &::after {
                    content: '';
                    position: absolute;
                    width: calc(50% - 20px);
                    height: calc(100% - 10px);
                    top: 50%;
                    transform: translateY(-50%);
                    background: darkred;
                    border-radius: 5px;
                    transition: all .5s ease;
                }

                &.left::after {
                    left: 5px;
                }

                &.right::after {
                    right: 5px;
                }

                button {
                    z-index: 1;
                    width: 100%;
                    font-size: 18px;
                    padding: 10px 0;
                    color: $white;
                    background: transparent;
                }
            }

            .watchlist {
                width: 100%;
                margin: auto;
                overflow-x: auto;
                white-space: nowrap;
                scroll-snap-type: x mandatory;
                padding: 10px;
                border-radius: 10px;

                &::-webkit-scrollbar {
                    height: 1px;
                }

                &::-webkit-scrollbar-thumb {
                    display: none;
                }

                &::-webkit-scrollbar-track {
                    display: none;
                }

                

                .favorites-container,
                .history-container {
                    margin: auto;
                    width: 101%;
                    display: inline-block;
                    scroll-snap-align: start;

                    .movie-item {
                        @include flex;
                        transition: all .5s ease;
                        border-radius: 10px;
                        padding: 5px;
                        gap: 10px;

                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }

                        &:hover {
                            background: rgba(255, 255, 255, .3);
                        }

                        .cover {
                            height: 100px;
                            img {
                                width: 150px;
                                height: 100px;
                                object-fit: cover;
                                border-radius: 5px;
                            }
                        }

                        .movie-detail {
                            width: 100%;
                            @include flex(center, space-between);
                            gap: 10px;

                            .movie-name {
                                color: $white;
                                font-size: 35px;
                                font-weight: 600;
                            }

                            button {
                                user-select: none;
                                @include flex(center);
                                gap: 8px;
                                background: darkred;
                                padding: 10px 20px;
                                color: $white;
                                transition: all .5s ease;
                                font-size: 15px;
                                border-radius: 8px;

                                svg {
                                    display: none;
                                    width: 30px;
                                    height: 30px;
                                }

                                &:hover {
                                    background: rgb(109, 2, 2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 992px) {
    .account-wrapper {
        .account {
            .profile {
                .image {
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }

                .profile-detail {
                    .fullname {
                        font-size: 30px;
                    }

                    .username {
                        font-size: 15px;
                    }

                    .btn {
                        button {
                            font-size: 15px;

                            svg {
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
            }

            .watch-wrapper {
                .buttons {
                    button {
                        font-size: 16px;
                    }
                }

                .watchlist {
                    overflow-x: auto;
                    .favorites-container,
                    .history-container {
                        .movie-item {
                            .cover {
                                height: 100px;
                                img {
                                    width: 180px;
                                }
                            }

                            .movie-detail {
                                .desc {
                                    .movie-name {
                                        font-size: 20px;
                                    }
                                }

                                button {
                                    font-size: 14px;
                                    border-radius: 7px;
                                    padding: 5px;

                                    span {
                                        display: none;
                                    }

                                    svg {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .account-wrapper {
        .account {
            width: 100%;

            .watch-wrapper {
                .watchlist {

                    .favorites-container,
                    .history-container {
                        .movie-item {
                            .cover {
                                img {
                                    width: 150px;
                                    height: 80px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 576px) {
    .account-wrapper {
        .account {
            width: 100%;

            .profile {
                .profile-detail {
                    .btn {
                        button {
                            padding: 5px 15px;
                            border-radius: 5px;

                            svg {
                                display: none;
                            }
                        }
                    }
                }
            }

            .watch-wrapper {
                .watchlist {

                    .favorites-container,
                    .history-container {
                        .movie-item {
                            .cover{
                                height: 80px;
                            }
                            .movie-detail {
                                align-items: flex-start;
                                flex-direction: column;

                                button {
                                    padding: 5px 15px;
                                    border-radius: 5px;

                                    span {
                                        display: inline-block;
                                        font-size: 14px;
                                    }

                                    svg {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}